@digimperial:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=Ks4ApjRgzQZc-PukwzSa
//gitlab.com/api/v4/projects/37146671/packages/npm/:_authToken=Ks4ApjRgzQZc-PukwzSa